text-question {
  font-size: 25px;

}
.heading{
  text-align: center;
  font-size: 35px;
  margin-top: 5%;
  color: rgb(3, 3, 3);
  font-weight: bold;
}
.txt-question {
  font-size: 24px;
  margin:  10px 0;

}
.que-option{
  border: 1px solid #FFD3D5;
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0;
  cursor: pointer;
  width: 250px;
  font-size: 19px;

}
.que-option:hover{
  background-color: #FFD3D5;
}
.container{
  height: 420px;
  width: 550px;
  margin:10px 35% ;
  padding: 15px;
  align-items: center;
  display: block;
  justify-content: center;
  background-color: #E49BA6;
  border-radius: 8px;
  box-shadow: 0px 6px 15px rgba(146, 72, 122, 0.4);


  
}
.img-next {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  width: 50px;
  height: 50px;


}